<%- include("../shared/header") %>

<form action="" method="post">
  <p><%= name %></p>
  <p><%= createdOn %></p>
  <p><%= gener %></p>
  <p><%= time %></p>
  <p><%= director %></p>

  <button type="submit" class="btn btn-primary">Delete</button>
  <a class="btn btn-secondary" href="/movie">Return</a>
</form>

<%- include("../shared/footer") %>
