<%- include("../shared/header") %>

    <form method="post">
        <input type="text" name="_name" value="<%= movieById._name %>">
        <input type="text" name="_createdOn" value="<%= movieById._createdOn %>">
        <input type="text" name="_gener" value="<%= movieById._gener %>">
        <input type="text" name="_time" value="<%= movieById._time %>">
        <input type="text" name="_director" value="<%= movieById._director %>">

        <button type="submit">Aceppt</button>
    </form>

    <%- include("../shared/footer") %>