<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Movies</title>
</head>

<body>
    <h1>MOVIE LIST</h1>

    <div class="movies">

        <div class="movies-principal">
            <% movies.forEach(element=> {%>
                <div class="movies-principal__individual">

                    <h3>
                        <%= element._name %>
                    </h3>
                    <div class="movies-individual">
                        <p>
                            <%= element._createdOn %>
                        </p>
                        <p>
                            <%= element._gener %>
                        </p>
                        <p>
                            <%= element._time %>
                        </p>
                        <p>
                            <strong>
                                <%= element._director %>
                            </strong>
                        </p>
                    </div>
                </div>
                <% }); %>
        </div>

        <div class="movies-info">

        </div>

    </div>

</body>

</html>